<mat-card-content>
    <form (ngSubmit)="addEducation()" [formGroup]="myForm" novalidate fxLayout="column wrap" fxLayoutAlign="center center" fxLayoutGap="10px">
       <mat-form-field>
         <mat-label>Título</mat-label>
         <input matInput placeholder="" formControlName="ed_titulo" id="ed_titulo" required>
         <mat-error *ngIf="myError('ed_titulo', 'required')">El dato requerido</mat-error>
         <mat-error *ngIf="myError('ed_titulo', 'maxlength')">Demasiado largo</mat-error>
       </mat-form-field>
        <mat-form-field>
           <mat-label>Descripción</mat-label>
           <textarea matInput placeholder="" formControlName="ed_descripcion" id="ed_descripcion" required></textarea>
           <mat-error *ngIf="myError('ed_descripcion', 'required')">El dato requerido</mat-error>
           <mat-error *ngIf="myError('ed_descripcion', 'maxlength')">Demasiado largo</mat-error>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Institución</mat-label>
             <input matInput placeholder="" formControlName="ed_institucion" id="ed_institucion" required>
             <mat-error *ngIf="myError('ed_institucion', 'required')">El dato requerido</mat-error>
             <mat-error *ngIf="myError('ed_institucion', 'maxlength')">Demasiado largo</mat-error>
         </mat-form-field>
         <mat-form-field>
            <mat-label>Tipo</mat-label>
             <input matInput placeholder="" formControlName="ed_tipo" id="ed_tipo" required>
             <mat-error *ngIf="myError('ed_tipo', 'required')">El dato requerido</mat-error>
             <mat-error *ngIf="myError('ed_tipo', 'maxlength')">Demasiado largo</mat-error>
         </mat-form-field>
        <mat-form-field>
             <mat-label>URL Logo</mat-label>
             <input matInput placeholder="" formControlName="ed_urllogo" id="ed_urllogo" required>
             <mat-error *ngIf="myError('ed_urllogo', 'required')">El dato requerido</mat-error>
             <mat-error *ngIf="myError('ed_urllogo', 'maxlength')">Demasiado largo</mat-error>
         </mat-form-field>
       <mat-card-actions>
         <button  mat-raised-button color="primary" [disabled]="!myForm.valid">Agregar</button>
         <button  mat-raised-button color="primary"[mat-dialog-close]="myForm"> Cancelar</button>
       </mat-card-actions>
     </form>
 </mat-card-content>
