<mat-card-content>
    <form (ngSubmit)="editarSkill()" [formGroup]="myForm" novalidate fxLayout="column wrap" fxLayoutAlign="center center" fxLayoutGap="10px">
      <mat-form-field>
        <mat-label>Habilidad</mat-label>
        <input matInput placeholder="" formControlName="sk_habilidad" id="sk_habilidad" required>
        <mat-error *ngIf="myError('sk_habilidad', 'required')">El dato requerido</mat-error>
        <mat-error *ngIf="myError('sk_habilidad', 'maxlength')">Demasiado largo</mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>URL de porcentaje de habilidad</mat-label>
        <input matInput placeholder="" formControlName="sk_urllogo" id="sk_urllogo" required>
         <mat-error *ngIf="myError('sk_urllogo', 'required')">El dato requerido</mat-error>
         <mat-error *ngIf="myError('sk_urllogo', 'maxlength')">Demasiado largo</mat-error>
       </mat-form-field>
        <mat-card-actions>
         <button  mat-raised-button color="primary" [disabled]="!myForm.valid">Actualizar</button>
         <button  mat-raised-button color="primary" [mat-dialog-close]="myForm"> Cancelar</button>
       </mat-card-actions>
    </form>
</mat-card-content>